<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Data</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
    <th class="tabela__cabecalho__conteudo">Destinatário</th>
  </thead>
  <tbody *ngIf="transferences.length > 0; else emptyList">
    <tr class="tabela__linha" *ngFor="let transference of transferences">
      <td class="tabela__conteudo">{{ transference?.date | date: "short" }}</td>
      <td class="tabela__conteudo">{{ transference?.value | currency }}</td>
      <td class="tabela__conteudo">{{ transference?.recipient }}</td>
    </tr>
  </tbody>
</table>

<ng-template #emptyList>
  <p>Nenhuma transferência cadastrada.</p>
</ng-template>
